#input-bordercolor {
    margin:0;
    padding:0;
    border:0;
    width:80px;
    height:30px;
    border-left:25px solid #fff;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    line-height:20px;
}