@charset "UTF-8";
/* [2] */
/* [8] */
/*===============================================
 [SASS DIRECTORY ]
 [1] Minxin Link
 [2] Minxin Button
 [3] Minxin Triangle
 [4] Minxin LABEL PRODUCT
 [5] Minxin Scrollbars
 [6] Minxin Dev Custom
 ==============================================*/
.no-margin {
  margin: 0 !important; }
/*Dev Custom */
/*====================================================*/
.lib-list-item-product2 {
  border: none; }
  .lib-list-item-product2 .image-dev .list-button-dev {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0); }
    .lib-list-item-product2 .image-dev .list-button-dev li {
      display: inline-block;
      float: left;
      height: 40px;
      width: 40px;
      background: #fff;
      position: relative;
      border-width: 0 1px 0 0;
      border-style: solid;
      border-color: #ddd;
      opacity: 0;
      transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(1) {
        transform: translateX(40px);
        -moz-transform: translateX(40px);
        -webkit-transform: translateX(40px);
        -ms-transform: translateX(40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(2) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(3) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(4) {
        transform: translateX(-40px);
        -moz-transform: translateX(-40px);
        -webkit-transform: translateX(-40px);
        -ms-transform: translateX(-40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li:first-child {
        border-left: 1px solid #ddd; }
      .lib-list-item-product2 .image-dev .list-button-dev li a, .lib-list-item-product2 .image-dev .list-button-dev li button {
        background: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        line-height: 40px;
        text-align: center;
        box-shadow: none;
        border: none;
        color: #555;
        width: 40px;
        padding: 0; }
      .lib-list-item-product2 .image-dev .list-button-dev li:hover {
        background: #00bbd4; }
        .lib-list-item-product2 .image-dev .list-button-dev li:hover a, .lib-list-item-product2 .image-dev .list-button-dev li:hover button {
          color: #fff; }
  .lib-list-item-product2 .caption-dev {
    text-align: center;
    padding: 0 15px; }
    .lib-list-item-product2 .caption-dev .rating-dev {
      margin: 5px 0; }
    .lib-list-item-product2 .caption-dev .rating-dev .fa-stack-2x {
      font-size: 11px; }
    .lib-list-item-product2 .caption-dev .title-dev {
      color: #444;
      font-size: 13px; }
    .lib-list-item-product2 .caption-dev .price-dev .price.product-price {
      font-size: 16px; }
    .lib-list-item-product2 .caption-dev .price-dev .price-new {
      font-size: 16px; }
    .lib-list-item-product2 .caption-dev .price-dev .price-old {
      font-size: 12px; }
    .lib-list-item-product2 .caption-dev .add-cart-dev {
      background: #fff;
      border: 1px solid #ddd;
      font-size: 12px;
      text-transform: uppercase;
      color: #999;
      font-weight: bold;
      box-shadow: none;
      border-radius: 0;
      padding: 6px 20px;
      margin: 0 0 30px;
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out; }

.lib-list-item-product-over2 .image-dev .list-button-dev li {
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(1) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(2) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(3) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(4) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }
/*EFECT PRODUCT NUMBER*/
.lib-two-img {
  position: relative;
  display: block; }
  .lib-two-img .img-1 {
    opacity: 1;
    position: relative;
    transition: all 0.5s ease-in-out; }
  .lib-two-img .img-2 {
    position: absolute;
    z-index: 0;
    top: 0;
    opacity: 0;
    display: block;
    transition: all 0.5s ease-in-out;
    left: 50%;
    transform: translateX(-50%); }

.lib-two-img-over .img-1 {
  opacity: 0;
  transform-style: inherit;
  transition: all 0.5s ease-in-out; }
  .lib-two-img-over .img-2 {
    opacity: 1;
    transform-style: inherit;
    transition: all 0.5s ease-in-out; }
/*EFFECT SLIDERHOME*/
@keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-webkit-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-moz-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }
/*===============================================
 [SASS DIRECTORY ]
 [1] BLOCK HEADER
 ==============================================*/
.common-home #content {
  clear: both; }

.common-home .typeheader-13 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 99;
  border: none; }
  .common-home .typeheader-13 .header-bottom {
    padding: 36px 0; }

.layout-13 {
  position: relative; }

.typeheader-13 {
  border-bottom: 1px solid #ddd;
  /*=====SEARCH ======*/
  /*BLOCK CART*/
  /*MENU MEGA*/ }
  .typeheader-13 .container {
    padding: 0 15px; }
  .typeheader-13 .horizontal ul.megamenu > li > .sub-menu {
    max-width: unset; }
  .typeheader-13 .container-megamenu.horizontal ul.megamenu > li > a strong img {
    top: 3px; }
  .typeheader-13.navbar-compact {
    background-color: #fff; }
  .typeheader-13.navbar-compact .header-bottom {
    padding: 10px 0; }
  .typeheader-13 .logo {
    margin-top: 10px; }
  .typeheader-13 .header-bottom {
    background-color: transparent;
    padding-top: 16px;
    padding-bottom: 16px; }
  .typeheader-13 .header-bottom .bottom-right {
    position: absolute;
    top: 0;
    right: 15px;
    padding-top: 10px; }
  .typeheader-13 .header-top {
    background-color: #000;
    color: #898989; }
  .typeheader-13 .header-top .module {
    display: table-cell;
    margin-bottom: 0; }
  .typeheader-13 .header-top .dropdown-menu {
    right: 5px; }
  .typeheader-13 .header-top .dropdown-menu li {
    line-height: 22px; }
  .typeheader-13 .header-top .logo {
    text-align: center;
    padding-top: 5px; }
  .typeheader-13 ul.top-link {
    list-style: none;
    margin: 0;
    float: right; }
  .typeheader-13 ul.top-link > li {
    float: left;
    position: relative;
    list-style: outside none none;
    padding-left: 20px;
    margin-left: 20px;
    padding-right: 0;
    border-left: 1px solid #333;
    font-size: 12px; }
  .typeheader-13 ul.top-link > li i {
    padding-right: 5px; }
  .typeheader-13 ul.top-link > li.language {
    min-height: 23px; }
  .typeheader-13 ul.top-link > li .fa-caret-down {
    font-size: 12px; }
  .typeheader-13 ul.top-link > li > a {
    font-size: 12px;
    color: #898989;
    line-height: 40px; }
  .typeheader-13 ul.top-link > li > a:hover {
    color: #fff; }
  .typeheader-13 ul.top-link > li.account:hover ul.dropdown-link {
    top: 34px;
    z-index: 9999;
    opacity: 1;
    border-top: 1px solid rgba(200, 199, 199, 0.3); }
  .typeheader-13 ul.top-link > li.currency:after {
    display: none; }
  .typeheader-13 .welcome-msg {
    line-height: 40px; }
  .typeheader-13 .megamenu-style-dev {
    float: left; }
  .typeheader-13 .lang-curr {
    float: left;
    margin-top: 10px; }
  .typeheader-13 .lang-curr > li {
    float: left;
    padding: 0; }
  .typeheader-13 .lang-curr > li .btn-group {
    padding: 0; }
  .typeheader-13 .lang-curr > li .btn-group .btn-link {
    padding: 0;
    line-height: 40px;
    margin-left: 0px;
    margin-right: 35px;
    border: none;
    color: #1c1c1c;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700; }
    .typeheader-13 .lang-curr > li .dropdown-menu {
      left: 0;
      right: auto; }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        .typeheader-13 .lang-curr > li .dropdown-menu img {
          position: relative;
          top: -2px; } }
  .typeheader-13 #sosearchpro .dropdown-menu .media-body .box-price span {
    float: left;
    padding-left: 0px;
    padding-right: 10px; }
  .typeheader-13 .search-header-w {
    float: left;
    position: relative;
    margin: 15px 10px 0 0; }
  .typeheader-13 .search-header-w #sosearchpro .search .select_category {
    display: none; }
  .typeheader-13 .search-header-w #sosearchpro .search {
    padding: 0;
    width: 230px;
    border: none;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 17px;
    margin: 0;
    z-index: 99; }
  .typeheader-13 .search-header-w #sosearchpro .search input {
    width: 230px;
    border: none;
    height: 34px;
    line-height: 34px;
    padding-left: 20px; }
  .typeheader-13 .search-header-w #sosearchpro .search .input-group-btn {
    position: absolute;
    right: 0;
    top: 0;
    height: 33px;
    line-height: 32px;
    width: 36px; }
  .typeheader-13 .search-header-w #sosearchpro .search button {
    background-color: #fff;
    border-radius: 18px;
    color: #444;
    padding: 0;
    width: 36px;
    text-align: center;
    height: 33px;
    line-height: 32px; }
  .typeheader-13 .search-header-w #sosearchpro .search button i {
    margin: 0;
    font-size: 14px;
    width: 32px;
    height: 32px;
    line-height: 32px; }
  .typeheader-13 .search-header-w #sosearchpro .search button span {
    display: none; }
  .typeheader-13 .search-header-w .icon-search {
    width: 32px;
    height: 32px;
    font-size: 14px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    float: left;
    display: block !important; }
  .typeheader-13 .search-header-w .icon-search i {
    font-size: 16px;
    color: #1c1c1c; }
  .typeheader-13 .search-header-w .icon-search.active i::before {
    content: "\f00d"; }
  .typeheader-13 .search-header-w .icon-search:hover {
    cursor: pointer; }
  .typeheader-13 .search-header-w #sosearchpro .search {
    display: none;
    position: absolute;
    top: 35px;
    right: 0px; }
  .typeheader-13 #cart .dropdown-menu {
    margin-right: 0;
    right: 0px; }
  .typeheader-13 .shopping_cart {
    float: right;
    position: relative; }
  .typeheader-13 .shopping_cart .btn-shopping-cart .top_cart {
    position: relative; }
  .typeheader-13 .shopping_cart .btn-shopping-cart .top_cart .icon-c {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    text-align: center;
    line-height: 40px; }
  .typeheader-13 .shopping_cart .btn-shopping-cart .top_cart .icon-c i {
    font-size: 18px;
    color: #fff; }
  .typeheader-13 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner {
    float: left;
    color: #1c1c1c;
    padding-top: 13px;
    padding-left: 18px; }
  .typeheader-13 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .text-shopping-cart {
    font-size: 14px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0;
    line-height: 100%;
    text-transform: uppercase;
    float: left;
    padding-right: 5px; }
  .typeheader-13 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .total-shopping-cart {
    font-size: 12px;
    float: left;
    line-height: 100%;
    font-weight: 700; }
    .typeheader-13 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .total-shopping-cart .items_cart2 {
      display: none; }
    .typeheader-13 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .total-shopping-cart .items_cart {
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      border-radius: 100%;
      -moz-border-radius: 100%;
      -webkit-border-radius: 100%;
      position: absolute;
      top: -5px;
      left: 27px;
      font-size: 12px;
      color: #444;
      background-color: #fff; }
  .typeheader-13 .shopping_cart .dropdown-menu {
    top: 100%;
    right: -15px;
    left: auto;
    color: #666; }
  .typeheader-13 .shopping_cart .shoppingcart-box:before {
    right: 50px; }
  .typeheader-13 .megamenu-style-dev .navbar-default {
    background: transparent; }
  .typeheader-13 .megamenu-pattern .container {
    width: auto; }
  @media (min-width: 992px) {
    .typeheader-13 .container-megamenu.horizontal ul.megamenu > li {
      margin-right: 35px; } }
  .typeheader-13 .container-megamenu.horizontal ul.megamenu > li > a {
    line-height: 100%;
    color: #1c1c1c;
    font-size: 14px;
    font-weight: 700;
    padding: 23px 0 22px 0;
    position: relative; }
  .typeheader-13 .container-megamenu.horizontal ul.megamenu > li > a strong {
    font-weight: 600; }
  .typeheader-13 .container-megamenu.horizontal ul.megamenu > li.style-page > .sub-menu {
    right: 0 !important; }

@media (min-width: 1200px) and (max-width: 1649px) {
  .typeheader-13 .logo {
    margin-top: 10px; }

  .typeheader-13 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner {
    display: none; }

  .typeheader-13 .container-megamenu.horizontal ul.megamenu > li {
    margin-right: 20px; } }
