@charset "UTF-8";
/* [2] */
/* [8] */
/*===============================================
 [SASS DIRECTORY ]
 [1] Minxin Link
 [2] Minxin Button
 [3] Minxin Triangle
 [4] Minxin LABEL PRODUCT
 [5] Minxin Scrollbars
 [6] Minxin Dev Custom
 ==============================================*/
.no-margin {
  margin: 0 !important; }
/*Dev Custom */
/*====================================================*/
.lib-list-item-product2 {
  border: none; }
  .lib-list-item-product2 .image-dev .list-button-dev {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0); }
    .lib-list-item-product2 .image-dev .list-button-dev li {
      display: inline-block;
      float: left;
      height: 40px;
      width: 40px;
      background: #fff;
      position: relative;
      border-width: 0 1px 0 0;
      border-style: solid;
      border-color: #ddd;
      opacity: 0;
      transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(1) {
        transform: translateX(40px);
        -moz-transform: translateX(40px);
        -webkit-transform: translateX(40px);
        -ms-transform: translateX(40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(2) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(3) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(4) {
        transform: translateX(-40px);
        -moz-transform: translateX(-40px);
        -webkit-transform: translateX(-40px);
        -ms-transform: translateX(-40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li:first-child {
        border-left: 1px solid #ddd; }
      .lib-list-item-product2 .image-dev .list-button-dev li a, .lib-list-item-product2 .image-dev .list-button-dev li button {
        background: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        line-height: 40px;
        text-align: center;
        box-shadow: none;
        border: none;
        color: #555;
        width: 40px;
        padding: 0; }
      .lib-list-item-product2 .image-dev .list-button-dev li:hover {
        background: #603; }
        .lib-list-item-product2 .image-dev .list-button-dev li:hover a, .lib-list-item-product2 .image-dev .list-button-dev li:hover button {
          color: #fff; }
  .lib-list-item-product2 .caption-dev {
    text-align: center;
    padding: 0 15px; }
    .lib-list-item-product2 .caption-dev .rating-dev {
      margin: 5px 0; }
    .lib-list-item-product2 .caption-dev .rating-dev .fa-stack-2x {
      font-size: 11px; }
    .lib-list-item-product2 .caption-dev .title-dev {
      color: #444;
      font-size: 13px; }
    .lib-list-item-product2 .caption-dev .price-dev .price.product-price {
      font-size: 16px; }
    .lib-list-item-product2 .caption-dev .price-dev .price-new {
      font-size: 16px; }
    .lib-list-item-product2 .caption-dev .price-dev .price-old {
      font-size: 12px; }
    .lib-list-item-product2 .caption-dev .add-cart-dev {
      background: #fff;
      border: 1px solid #ddd;
      font-size: 12px;
      text-transform: uppercase;
      color: #999;
      font-weight: bold;
      box-shadow: none;
      border-radius: 0;
      padding: 6px 20px;
      margin: 0 0 30px;
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out; }

.lib-list-item-product-over2 .image-dev .list-button-dev li {
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(1) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(2) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(3) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(4) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }
/*EFECT PRODUCT NUMBER*/
.lib-two-img {
  position: relative;
  display: block; }
  .lib-two-img .img-1 {
    opacity: 1;
    position: relative;
    transition: all 0.5s ease-in-out; }
  .lib-two-img .img-2 {
    position: absolute;
    z-index: 0;
    top: 0;
    opacity: 0;
    display: block;
    transition: all 0.5s ease-in-out;
    left: 50%;
    transform: translateX(-50%); }

.lib-two-img-over .img-1 {
  opacity: 0;
  transform-style: inherit;
  transition: all 0.5s ease-in-out; }
  .lib-two-img-over .img-2 {
    opacity: 1;
    transform-style: inherit;
    transition: all 0.5s ease-in-out; }
/*EFFECT SLIDERHOME*/
@keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-webkit-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-moz-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }
/*===============================================
 [SASS DIRECTORY ]
 [1] BLOCK HEADER
 ==============================================*/
.typeheader-18 {
  background-color: #fff;
  border-bottom: 1px solid #e1e1e1;
  /*=====SEARCH ======*/
  /*BLOCK CART*/
  /*MENU MEGA*/ }
  .typeheader-18 .header-top {
    color: #545454;
    font-size: 13px;
    background-color: #f3f3f3;
    border-bottom: 1px solid #e1e1e1; }
  .typeheader-18 .header-top .module {
    display: table-cell;
    margin-bottom: 0; }
  .typeheader-18 .header-top .header-top-right {
    text-align: right; }
  .typeheader-18 .header-top .dropdown-menu li {
    line-height: 22px; }
  .typeheader-18 .header-top .header-top-right {
    display: inline-block; }
  .typeheader-18 ul.top-link {
    list-style: none;
    margin: 0;
    vertical-align: top;
    display: inline-flex; }
  .typeheader-18 ul.top-link .dropdown-menu {
    left: 0;
    right: auto; }
  .typeheader-18 ul.top-link > li {
    line-height: 45px;
    position: relative;
    list-style: none;
    margin-left: 0px;
    padding-right: 15px;
    margin-right: 15px; }
  .typeheader-18 ul.top-link > li:after {
    position: absolute;
    content: "";
    width: 1px;
    height: 13px;
    top: 17px;
    right: 0;
    background-color: #cdcdcd; }
  .typeheader-18 ul.top-link > li .btn-group {
    line-height: 45px; }
  .typeheader-18 ul.top-link > li .btn-group .btn-link {
    padding: 0;
    border: none;
    color: #888; }
  .typeheader-18 ul.top-link > li > a {
    font-size: 13px;
    color: #888; }
  .typeheader-18 ul.top-link > li > a i {
    margin-right: 5px; }
  .typeheader-18 ul.top-link > li.account .dropdown-menu {
    right: 0;
    left: auto; }
  .typeheader-18 ul.top-link > li:last-child {
    padding-right: 0px;
    margin-right: 0px; }
  .typeheader-18 ul.top-link > li:last-child:after {
    display: none; }
  .typeheader-18 .logo {
    margin-top: 4px; }
  .typeheader-18 .header-middle {
    clear: both;
    padding: 22px 0 0px 0; }
  .typeheader-18 .header-middle .middle-right {
    text-align: center;
    line-height: 25px; }
  .typeheader-18 .header-middle .middle-right ul li {
    display: inline-block;
    padding-left: 10px;
    margin-left: 10px;
    position: relative; }
    .typeheader-18 .header-middle .middle-right ul li:before {
      content: "|";
      color: #1b1b1b;
      top: 0;
      left: -1px;
      position: absolute; }
    .typeheader-18 .header-middle .middle-right ul li:first-child:before {
      display: none; }
    .typeheader-18 .header-middle .middle-right ul li a {
      color: #1b1b1b; }
  .typeheader-18 .header-bottom {
    clear: both; }
  .typeheader-18 .header-bottom .header-bottom-inner ul.megamenu {
    padding: 0 50px; }
  .typeheader-18 #sosearchpro .text-keyword .item-key a {
    font-size: 13px; }
  .typeheader-18 #sosearchpro .search {
    position: relative;
    margin: 0;
    width: 100%; }
  .typeheader-18 #sosearchpro .search .select_category {
    display: none; }
  .typeheader-18 #sosearchpro .search .input-group-btn {
    position: static; }
  .typeheader-18 #sosearchpro .search button {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 44px;
    text-align: center;
    line-height: 44px;
    padding: 0 0px 0 15px;
    font-size: 14px;
    color: #fff;
    border-radius: 0;
    background-color: transparent; }
  .typeheader-18 #sosearchpro .search button i {
    font-size: 14px;
    color: #bababa;
    margin-right: 0; }
  .typeheader-18 #sosearchpro .search input {
    border: 1px solid #e1e1e1;
    border-radius: 0px;
    background-color: #fff;
    z-index: 0;
    height: 44px;
    padding-left: 45px;
    font-size: 12px;
    width: 100%;
    background-color: #fff;
    color: #999; }
  .typeheader-18 #sosearchpro .search input::-moz-placeholder {
    color: #999;
    opacity: 1; }
  .typeheader-18 #sosearchpro .search input:-ms-input-placeholder {
    color: #999; }
  .typeheader-18 #sosearchpro .search input::-webkit-input-placeholder {
    color: #999; }
  .typeheader-18 #sosearchpro .search input:focus {
    z-index: 0; }
  .typeheader-18 #cart .dropdown-menu {
    margin-right: 0; }
  .typeheader-18 .shopping_cart {
    padding-bottom: 10px; }
  .typeheader-18 .shopping_cart .btn-shopping-cart .shopcart .icon-c {
    display: none; }
  .typeheader-18 .shopping_cart .btn-shopping-cart .shopcart .shopcart-inner p {
    float: left;
    margin: 0; }
    .typeheader-18 .shopping_cart .btn-shopping-cart .shopcart .shopcart-inner .total-shopping-cart .items_cart2, .typeheader-18 .shopping_cart .btn-shopping-cart .shopcart .shopcart-inner .total-shopping-cart .items_carts {
      display: none; }
      .typeheader-18 .shopping_cart .btn-shopping-cart .shopcart .shopcart-inner .total-shopping-cart .items_cart:before {
        content: "(";
        padding-left: 5px; }
        .typeheader-18 .shopping_cart .btn-shopping-cart .shopcart .shopcart-inner .total-shopping-cart .items_cart:after {
          content: ")"; }
  .typeheader-18 .megamenu-style-dev .navbar-default {
    background: transparent; }
  .typeheader-18 .container-megamenu.horizontal ul.megamenu > li > a strong img {
    display: none; }
  .typeheader-18 .container-megamenu.horizontal ul.megamenu > li {
    margin-right: 40px; }
  .typeheader-18 .container-megamenu.horizontal ul.megamenu > li > a {
    position: relative;
    text-transform: capitalize;
    padding: 10px 0 20px 0;
    font-size: 15px;
    font-weight: 500; }
  .typeheader-18 .container-megamenu.horizontal ul.megamenu > li > a > strong {
    font-weight: 500; }
  .typeheader-18 .container-megamenu.horizontal ul.megamenu > li:hover > a, .typeheader-18 .container-megamenu.horizontal ul.megamenu > li.active > a, .typeheader-18 .container-megamenu.horizontal ul.megamenu > li.menu_active > a {
    color: #ed145b; }

.common-home .typeheader-18 .container-megamenu.horizontal ul.megamenu > li.home > a {
  color: #ed145b; }
