@charset "UTF-8";
/* [2] */
/* [8] */
/*===============================================
 [SASS DIRECTORY ]
 [1] Minxin Link
 [2] Minxin Button
 [3] Minxin Triangle
 [4] Minxin LABEL PRODUCT
 [5] Minxin Scrollbars
 [6] Minxin Dev Custom
 ==============================================*/
.no-margin {
  margin: 0 !important; }
/*Dev Custom */
/*====================================================*/
.lib-list-item-product2 {
  border: none; }
  .lib-list-item-product2 .image-dev .list-button-dev {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0); }
    .lib-list-item-product2 .image-dev .list-button-dev li {
      display: inline-block;
      float: left;
      height: 40px;
      width: 40px;
      background: #fff;
      position: relative;
      border-width: 0 1px 0 0;
      border-style: solid;
      border-color: #ddd;
      opacity: 0;
      transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(1) {
        transform: translateX(40px);
        -moz-transform: translateX(40px);
        -webkit-transform: translateX(40px);
        -ms-transform: translateX(40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(2) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(3) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(4) {
        transform: translateX(-40px);
        -moz-transform: translateX(-40px);
        -webkit-transform: translateX(-40px);
        -ms-transform: translateX(-40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li:first-child {
        border-left: 1px solid #ddd; }
      .lib-list-item-product2 .image-dev .list-button-dev li a, .lib-list-item-product2 .image-dev .list-button-dev li button {
        background: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        line-height: 40px;
        text-align: center;
        box-shadow: none;
        border: none;
        color: #555;
        width: 40px;
        padding: 0; }
      .lib-list-item-product2 .image-dev .list-button-dev li:hover {
        background: #fe5522; }
        .lib-list-item-product2 .image-dev .list-button-dev li:hover a, .lib-list-item-product2 .image-dev .list-button-dev li:hover button {
          color: #fff; }
  .lib-list-item-product2 .caption-dev {
    text-align: center;
    padding: 0 15px; }
    .lib-list-item-product2 .caption-dev .rating-dev {
      margin: 5px 0; }
    .lib-list-item-product2 .caption-dev .rating-dev .fa-stack-2x {
      font-size: 11px; }
    .lib-list-item-product2 .caption-dev .title-dev {
      color: #444;
      font-size: 13px; }
    .lib-list-item-product2 .caption-dev .price-dev .price.product-price {
      font-size: 16px; }
    .lib-list-item-product2 .caption-dev .price-dev .price-new {
      font-size: 16px; }
    .lib-list-item-product2 .caption-dev .price-dev .price-old {
      font-size: 12px; }
    .lib-list-item-product2 .caption-dev .add-cart-dev {
      background: #fff;
      border: 1px solid #ddd;
      font-size: 12px;
      text-transform: uppercase;
      color: #999;
      font-weight: bold;
      box-shadow: none;
      border-radius: 0;
      padding: 6px 20px;
      margin: 0 0 30px;
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out; }

.lib-list-item-product-over2 .image-dev .list-button-dev li {
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(1) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(2) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(3) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(4) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }
/*EFECT PRODUCT NUMBER*/
.lib-two-img {
  position: relative;
  display: block; }
  .lib-two-img .img-1 {
    opacity: 1;
    position: relative;
    transition: all 0.5s ease-in-out; }
  .lib-two-img .img-2 {
    position: absolute;
    z-index: 0;
    top: 0;
    opacity: 0;
    display: block;
    transition: all 0.5s ease-in-out;
    right: 50%;
    transform: translateX(-50%);
    transform: translateX(50%); }

.lib-two-img-over .img-1 {
  opacity: 0;
  transform-style: inherit;
  transition: all 0.5s ease-in-out; }
  .lib-two-img-over .img-2 {
    opacity: 1;
    transform-style: inherit;
    transition: all 0.5s ease-in-out; }
/*EFFECT SLIDERHOME*/
@keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-webkit-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-moz-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }
/*===============================================
 [SASS DIRECTORY ]
 [1] BLOCK HEADER
 ==============================================*/
.wrapper-fluid .typeheader-19 .container {
  max-width: 1600px; }

.typeheader-19 {
  background-color: #2a3c52;
  /*=====SEARCH ======*/
  /*BLOCK CART*/
  /*MENU MEGA*/
  /*-- MEGA MENU VERTICAL --*/
  /*-- MEGA MENU VERTICAL --*/ }
  .typeheader-19 #sosearchpro .chosen-container-single .chosen-single div b {
    background-position: 5px 8px; }
  .typeheader-19.navbar-compact .header-middle {
    padding: 10px 0; }
  .typeheader-19.navbar-compact #cart {
    margin-top: 3px; }
  .typeheader-19 .header-top {
    font-size: 13px;
    min-height: 40px;
    background-color: #f5f5f5; }
  .typeheader-19 .header-top .module {
    display: table-cell;
    margin-bottom: 0; }
  .typeheader-19 .header-top .dropdown-menu li {
    line-height: 22px; }
  .typeheader-19 .telephone {
    float: left;
    line-height: 40px; }
  .typeheader-19 .header-middle {
    padding: 22px 0; }
  .typeheader-19 .lang-curr {
    float: left; }
  .typeheader-19 .lang-curr > li {
    position: relative;
    padding-right: 20px;
    margin-right: 20px; }
  .typeheader-19 .lang-curr > li:before {
    position: absolute;
    content: "";
    width: 1px;
    height: 20px;
    background-color: #dcdcdc;
    top: 10px;
    right: 0; }
  .typeheader-19 .welcome-msg {
    line-height: 40px; }
  .typeheader-19 .welcome-msg span {
    border-bottom: 1px dashed; }
  .typeheader-19 .signin-w {
    float: left; }
  .typeheader-19 .signin-link {
    min-height: 34px;
    padding-right: 40px;
    position: relative;
    line-height: 1.3;
    color: #fff; }
  .typeheader-19 .signin-link:before {
    content: '';
    display: block;
    width: 35px;
    height: 40px;
    background: url(../../images/icon/id19-icon-image.png) no-repeat -5px -2px;
    position: absolute;
    right: 0;
    top: 0; }
  .typeheader-19 .signin-link li {
    display: inline-block;
    width: 100%;
    font-size: 12px; }
  .typeheader-19 .signin-link li a {
    color: #fff; }
  .typeheader-19 .signin-link li.regis {
    font-size: 14px;
    color: #222;
    font-weight: 600; }
  .typeheader-19 .mycompare {
    min-height: 34px;
    padding-right: 40px;
    position: relative;
    float: left;
    line-height: 1.3;
    font-size: 12px; }
  .typeheader-19 .mycompare a {
    color: #fff; }
  .typeheader-19 .mycompare:before {
    content: '';
    display: block;
    width: 35px;
    height: 40px;
    background: url(../../images/icon/id19-icon-image.png) no-repeat -136px -2px;
    position: absolute;
    right: 0;
    top: 0; }
  .typeheader-19 .mycompare b {
    float: right;
    width: 100%;
    font-size: 14px; }
  .typeheader-19 ul.top-link {
    list-style: none;
    margin: 0;
    vertical-align: top;
    display: inline-flex; }
  .typeheader-19 ul.top-link > li {
    display: inline-block;
    position: relative;
    list-style: outside none none;
    line-height: 40px; }
  .typeheader-19 ul.top-link > li.account a {
    padding: 0; }
  .typeheader-19 ul.top-link > li.account .dropdown-menu {
    left: auto;
    right: 0; }
  .typeheader-19 ul.top-link > li .btn-group {
    display: inline;
    line-height: 40px;
    padding: 12px 0; }
  .typeheader-19 ul.top-link > li .btn-group .btn-link {
    padding: 0;
    border: none; }
  .typeheader-19 ul.top-link > li .fa-caret-down {
    font-size: 12px; }
  .typeheader-19 .header-bottom {
    padding-top: 20px; }
  .typeheader-19 .bottom-right {
    padding-top: 13px; }
  .typeheader-19 .logo {
    width: 20%;
    float: right;
    padding-top: 10px; }
  .typeheader-19 .search-header-w, .typeheader-19 .main-menu-w {
    margin-right: 20%; }
  .typeheader-19 #sosearchpro .search {
    position: relative;
    margin: 0;
    width: 100%;
    background-color: #fff;
    border-radius: 4px; }
  .typeheader-19 #sosearchpro .search .chosen-container-single .chosen-single {
    height: 35px;
    line-height: 35px;
    padding-right: 15px; }
  .typeheader-19 #sosearchpro .search .chosen-container-single .chosen-single div {
    width: 35px;
    height: 35px;
    background-color: #fff;
    line-height: 35px;
    text-align: center;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px; }
  .typeheader-19 #sosearchpro .search .chosen-container-single .chosen-single div b {
    width: 20px;
    margin: 0 auto; }
  .typeheader-19 #sosearchpro .search .select_category {
    border-left: 1px solid #dedede;
    background-color: #fff;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: 22%; }
  .typeheader-19 #sosearchpro .search .input-group-btn {
    width: 0; }
  .typeheader-19 #sosearchpro .search button {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 37px;
    text-align: center;
    line-height: 37px;
    padding: 0 15px;
    color: #fff;
    border-radius: 0;
    text-transform: upper-case;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px; }
  .typeheader-19 #sosearchpro .search button i {
    font-size: 16px;
    color: #fff; }
  .typeheader-19 #sosearchpro .search input {
    border: none;
    border-radius: 4px;
    background-color: #fff;
    z-index: 0;
    height: 37px;
    padding-right: 20px;
    font-size: 12px;
    width: 98%;
    background-color: #fff;
    color: #999; }
  .typeheader-19 #sosearchpro .search input::-moz-placeholder {
    color: #999;
    opacity: 1; }
  .typeheader-19 #sosearchpro .search input:-ms-input-placeholder {
    color: #999; }
  .typeheader-19 #sosearchpro .search input::-webkit-input-placeholder {
    color: #999; }
  .typeheader-19 #sosearchpro .search input:focus {
    z-index: 0; }
  .typeheader-19 .shopping_cart {
    float: left;
    position: relative; }
  .typeheader-19 .shopping_cart .btn-shopping-cart .top_cart {
    position: relative; }
  .typeheader-19 .shopping_cart .btn-shopping-cart .top_cart .icon-c {
    float: right;
    display: block;
    width: 40px;
    height: 40px;
    background: url(../../images/icon/id19-icon-image.png) no-repeat -280px -2px; }
  .typeheader-19 .shopping_cart .btn-shopping-cart .top_cart .icon-c i {
    display: none; }
  .typeheader-19 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner {
    float: right;
    position: relative;
    min-height: 35px;
    margin-right: 5px;
    color: #fff; }
  .typeheader-19 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .text-shopping-cart {
    font-size: 12px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0;
    line-height: 20px;
    text-transform: capitalize;
    float: right;
    padding-left: 5px; }
    .typeheader-19 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .text-shopping-cart:after {
      content: "-"; }
  .typeheader-19 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .total-shopping-cart {
    font-size: 12px;
    float: right;
    line-height: 20px;
    font-weight: 400; }
    .typeheader-19 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .total-shopping-cart .items_carts {
      position: absolute;
      bottom: -3px;
      right: 0;
      font-weight: 600;
      font-size: 14px;
      display: block;
      overflow: hidden;
      text-indent: -8px; }
    .typeheader-19 .shopping_cart .dropdown-menu {
      top: 100%;
      left: -15px;
      right: auto;
      color: #666; }
  .typeheader-19 .shopping_cart .shoppingcart-box:before {
    right: 50px; }
  .typeheader-19 .menu-vertical {
    width: 150px;
    float: right;
    margin-left: 40px; }
  .typeheader-19 .megamenu-style-dev .navbar-default {
    background: transparent; }
  .typeheader-19 .container-megamenu.horizontal ul.megamenu > li > a strong img {
    display: none; }
  .typeheader-19 .container-megamenu.horizontal ul.megamenu > li {
    margin-left: 30px; }
  .typeheader-19 .container-megamenu.horizontal ul.megamenu > li > a {
    line-height: 100%;
    color: #fff;
    font-size: 14px;
    text-transform: capitalize; }
  .typeheader-19 .container-megamenu.horizontal ul.megamenu > li > a strong {
    font-weight: 400; }
  .typeheader-19 .container-megamenu.horizontal ul.megamenu > li.style-page > .sub-menu {
    right: auto !important;
    left: 0; }
  .typeheader-19 .container-megamenu.vertical .vertical-wrapper ul.megamenu {
    box-shadow: none;
    border: 1px solid #ccc;
    border-top: none;
    width: 250px; }
  .typeheader-19 .container-megamenu.vertical .vertical-wrapper ul.megamenu .loadmore {
    border-top: 1px solid #ccc; }
  .typeheader-19 .container-megamenu.vertical .vertical-wrapper ul.megamenu .loadmore .more-view, .typeheader-19 .container-megamenu.vertical .vertical-wrapper ul.megamenu .loadmore i {
    color: #666; }
  .typeheader-19 .container-megamenu.vertical {
    position: relative; }
  .typeheader-19 .container-megamenu.vertical #menuHeading .megamenuToogle-wrapper {
    background-color: transparent; }
  .typeheader-19 .container-megamenu.vertical #menuHeading .megamenuToogle-pattern .container {
    color: #fff;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 700;
    background-color: transparent;
    padding: 0 !important;
    text-shadow: none;
    line-height: 44px; }
    .typeheader-19 .container-megamenu.vertical #menuHeading .megamenuToogle-pattern .container > div {
      display: none; }
    .typeheader-19 .container-megamenu.vertical #menuHeading .megamenuToogle-pattern .container:after {
      font-family: 'FontAwesome';
      content: "\f0d7";
      font-size: 16px;
      color: #6a7786;
      position: absolute;
      left: 20px;
      top: 0;
      font-weight: 400; }
  @media (min-width: 992px) {
    .typeheader-19 .container-megamenu.vertical .vertical-wrapper {
      visibility: hidden;
      -webkit-opacity: 0;
      -moz-opacity: 0;
      -ms-opacity: 0;
      -o-opacity: 0;
      opacity: 0;
      transition: all 0.2s ease-in-out 0s;
      -moz-transition: all 0.2s ease-in-out 0s;
      -webkit-transition: all 0.2s ease-in-out 0s;
      position: absolute;
      width: 100%;
      top: 60px; }

    .typeheader-19 .container-megamenu.vertical:hover .vertical-wrapper {
      visibility: visible;
      -webkit-opacity: 1;
      -moz-opacity: 1;
      -ms-opacity: 1;
      -o-opacity: 1;
      opacity: 1;
      transition: all 0.2s ease-in-out 0s;
      -moz-transition: all 0.2s ease-in-out 0s;
      -webkit-transition: all 0.2s ease-in-out 0s;
      top: 44px; } }

@media (min-width: 1200px) and (max-width: 1649px) {
  .typeheader-19 .container-megamenu.horizontal ul.megamenu > li {
    margin-left: 24px; } }
