@charset "UTF-8";
/* [2] */
/* [8] */
/*===============================================
 [SASS DIRECTORY ]
 [1] Minxin Link
 [2] Minxin Button
 [3] Minxin Triangle
 [4] Minxin LABEL PRODUCT
 [5] Minxin Scrollbars
 [6] Minxin Dev Custom
 ==============================================*/
.no-margin {
  margin: 0 !important; }
/*Dev Custom */
/*====================================================*/
.lib-list-item-product2 {
  border: none; }
  .lib-list-item-product2 .image-dev .list-button-dev {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0); }
    .lib-list-item-product2 .image-dev .list-button-dev li {
      display: inline-block;
      float: left;
      height: 40px;
      width: 40px;
      background: #fff;
      position: relative;
      border-width: 0 1px 0 0;
      border-style: solid;
      border-color: #ddd;
      opacity: 0;
      transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(1) {
        transform: translateX(40px);
        -moz-transform: translateX(40px);
        -webkit-transform: translateX(40px);
        -ms-transform: translateX(40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(2) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(3) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(4) {
        transform: translateX(-40px);
        -moz-transform: translateX(-40px);
        -webkit-transform: translateX(-40px);
        -ms-transform: translateX(-40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li:first-child {
        border-left: 1px solid #ddd; }
      .lib-list-item-product2 .image-dev .list-button-dev li a, .lib-list-item-product2 .image-dev .list-button-dev li button {
        background: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        line-height: 40px;
        text-align: center;
        box-shadow: none;
        border: none;
        color: #555;
        width: 40px;
        padding: 0; }
      .lib-list-item-product2 .image-dev .list-button-dev li:hover {
        background: #ff782e; }
        .lib-list-item-product2 .image-dev .list-button-dev li:hover a, .lib-list-item-product2 .image-dev .list-button-dev li:hover button {
          color: #fff; }
  .lib-list-item-product2 .caption-dev {
    text-align: center;
    padding: 0 15px; }
    .lib-list-item-product2 .caption-dev .rating-dev {
      margin: 5px 0; }
    .lib-list-item-product2 .caption-dev .rating-dev .fa-stack-2x {
      font-size: 11px; }
    .lib-list-item-product2 .caption-dev .title-dev {
      color: #444;
      font-size: 13px; }
    .lib-list-item-product2 .caption-dev .price-dev .price.product-price {
      font-size: 16px; }
    .lib-list-item-product2 .caption-dev .price-dev .price-new {
      font-size: 16px; }
    .lib-list-item-product2 .caption-dev .price-dev .price-old {
      font-size: 12px; }
    .lib-list-item-product2 .caption-dev .add-cart-dev {
      background: #fff;
      border: 1px solid #ddd;
      font-size: 12px;
      text-transform: uppercase;
      color: #999;
      font-weight: bold;
      box-shadow: none;
      border-radius: 0;
      padding: 6px 20px;
      margin: 0 0 30px;
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out; }

.lib-list-item-product-over2 .image-dev .list-button-dev li {
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(1) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(2) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(3) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(4) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }
/*EFECT PRODUCT NUMBER*/
.lib-two-img {
  position: relative;
  display: block; }
  .lib-two-img .img-1 {
    opacity: 1;
    position: relative;
    transition: all 0.5s ease-in-out; }
  .lib-two-img .img-2 {
    position: absolute;
    z-index: 0;
    top: 0;
    opacity: 0;
    display: block;
    transition: all 0.5s ease-in-out;
    right: 50%;
    transform: translateX(-50%);
    transform: translateX(50%); }

.lib-two-img-over .img-1 {
  opacity: 0;
  transform-style: inherit;
  transition: all 0.5s ease-in-out; }
  .lib-two-img-over .img-2 {
    opacity: 1;
    transform-style: inherit;
    transition: all 0.5s ease-in-out; }
/*EFFECT SLIDERHOME*/
@keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-webkit-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-moz-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }
/*===============================================
 [SASS DIRECTORY ]
 [1] BLOCK HEADER
 ==============================================*/
.typeheader-6 {
  /*=====SEARCH ======*/
  /*BLOCK CART*/
  /*MENU MEGA*/ }
  .typeheader-6 .container-megamenu.horizontal ul.megamenu > li > a strong img {
    display: none; }
  .typeheader-6.navbar-compact .header-middle {
    padding: 10px 0; }
  @media (min-width: 992px) {
  .typeheader-6 .logo {
    padding-top: 3px; } }
  .typeheader-6 .header-top {
    min-height: 40px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #e9e9e9; }
  .typeheader-6 .header-top .module {
    display: table-cell;
    margin-bottom: 0; }
  .typeheader-6 .header-top .dropdown-menu li {
    line-height: 22px; }
  .typeheader-6 .header-top .header-top-right .inner {
    float: left; }
  .typeheader-6 .header-middle {
    clear: both; }
  .typeheader-6 .header-bottom {
    clear: both;
    padding: 11px 0;
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5; }
  .typeheader-6 .welcome-msg {
    font-size: 13px;
    color: #666;
    line-height: 40px; }
  .typeheader-6 .lang-curr {
    /*.dropdown-menu{
     #{$left}: 0;
     #{$right}: auto;
     }*/ }
  .typeheader-6 ul.top-link {
    list-style: none;
    margin: 0;
    float: right; }
  .typeheader-6 ul.top-link > li {
    float: right;
    position: relative;
    list-style: outside none none;
    padding-right: 20px;
    margin-right: 20px;
    padding-left: 0;
    font-size: 13px; }
  .typeheader-6 ul.top-link > li i {
    padding-left: 5px; }
  .typeheader-6 ul.top-link > li.language {
    min-height: 23px; }
  .typeheader-6 ul.top-link > li .btn-group {
    display: inline;
    line-height: 40px;
    padding: 12px 0; }
  .typeheader-6 ul.top-link > li .btn-group .btn-link {
    padding: 0;
    border: none;
    color: #666; }
  .typeheader-6 ul.top-link > li .fa-caret-down {
    font-size: 12px; }
  .typeheader-6 ul.top-link > li:after {
    background-color: rgba(102, 102, 102, 0.4);
    content: "";
    height: 10px;
    position: absolute;
    right: 0;
    top: 16px;
    width: 1px; }
  .typeheader-6 ul.top-link > li > a {
    font-size: 13px;
    color: #666;
    line-height: 40px; }
  .typeheader-6 ul.top-link > li.account {
    line-height: 40px; }
  .typeheader-6 ul.top-link > li.account > a {
    padding: 0;
    margin: 0; }
  .typeheader-6 ul.top-link > li.account:before {
    content: "\f007";
    font-family: FontAwesome;
    font-size: 13px; }
  .typeheader-6 ul.top-link > li.account .dropdown-menu {
    right: 0;
    left: auto; }
  .typeheader-6 ul.top-link > li.wishlist:before {
    content: "\f004";
    font-family: FontAwesome;
    font-size: 11px; }
  .typeheader-6 ul.top-link > li.account:hover ul.dropdown-link {
    top: 34px;
    z-index: 9999;
    opacity: 1;
    border-top: 1px solid rgba(200, 199, 199, 0.3); }
  .typeheader-6 ul.top-link > li.currency:after {
    display: none; }
  .typeheader-6 .search-header-w {
    position: absolute;
    top: 7px;
    left: 15px;
    z-index: 99; }
  .typeheader-6 .search-header-w .searchw-inner {
    position: relative; }
  .typeheader-6 .search-header-w #sosearchpro .search .select_category {
    display: none; }
  .typeheader-6 .search-header-w .icon-search {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px; }
  .typeheader-6 .search-header-w .icon-search i {
    font-size: 16px;
    color: #4f4f4f; }
  .typeheader-6 .search-header-w .icon-search.active i::before {
    content: "\f00d"; }
  .typeheader-6 .search-header-w .icon-search:hover {
    cursor: pointer; }
  .typeheader-6 .search-header-w #sosearchpro .search {
    display: none;
    position: absolute;
    top: 40px;
    left: 0px;
    padding: 0;
    width: 300px;
    border: none;
    background-color: #fff; }
  .typeheader-6 .search-header-w #sosearchpro .search input {
    width: 300px;
    border: 1px solid #eaeaea;
    height: 38px;
    line-height: 38px; }
  .typeheader-6 .search-header-w #sosearchpro .search .input-group-btn {
    position: absolute;
    left: 0;
    top: 0;
    height: 38px;
    width: 40px;
    line-height: 38px; }
  .typeheader-6 .search-header-w #sosearchpro .search button {
    border-radius: 0px;
    color: #999;
    padding: 0;
    width: 40px;
    text-align: center;
    height: 38px;
    line-height: 38px; }
  .typeheader-6 .search-header-w #sosearchpro .search button i {
    color: #fff;
    font-size: 16px; }
  .typeheader-6 .search-header-w #sosearchpro .search button span {
    display: none; }
  .typeheader-6 #cart .dropdown-menu {
    margin-left: 0; }
  .typeheader-6 .shopping_cart .btn-shopping-cart .shopcart .icon-c {
    display: none; }
  .typeheader-6 .shopping_cart .btn-shopping-cart .shopcart .shopcart-inner p {
    float: right;
    margin: 0; }
    .typeheader-6 .shopping_cart .btn-shopping-cart .shopcart .shopcart-inner .total-shopping-cart .items_cart2, .typeheader-6 .shopping_cart .btn-shopping-cart .shopcart .shopcart-inner .total-shopping-cart .items_carts {
      display: none; }
      .typeheader-6 .shopping_cart .btn-shopping-cart .shopcart .shopcart-inner .total-shopping-cart .items_cart:before {
        content: "(";
        padding-right: 5px; }
        .typeheader-6 .shopping_cart .btn-shopping-cart .shopcart .shopcart-inner .total-shopping-cart .items_cart:after {
          content: ")"; }
  .typeheader-6 .megamenu-style-dev .navbar-default {
    background: transparent; }
  .typeheader-6 .container-megamenu.horizontal ul.megamenu > li {
    margin-left: 40px; }
  .typeheader-6 .container-megamenu.horizontal ul.megamenu > li > a {
    line-height: 100%;
    color: #363636;
    font-size: 14px;
    font-weight: 500;
    padding: 20px 0 19px 0; }
  .typeheader-6 .container-megamenu.horizontal ul.megamenu > li > a strong {
    font-weight: 600; }
