/*=============================
            FILTER
=============================*/




.so-filter-options .so-filter-content-opts{
overflow-y: auto !important;
max-height: 300px; 
}

.so-filter-options .so-filter-content-opts .so-filter-content-opts-container{
    padding-right: 20px !important;
}

.block-shopby {
    width: 128%;
    margin-left: -80px;
}

.so-option-container label{
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline;
}


/*=============================
        PRODUCT IMAGE
=============================*/


.product-image-container{
max-height: 270px;
} 

.product-image-container a img{
width:270px !important;
margin-top: -30px;
}

.product-layout .inner{
max-height: 270px;
} 

.product-layout .inner a img{
width:270px !important;
}


.item-img{
overflow: hidden;
height: 51px !important;
}

.item-img .lazyloaded{
width:47px !important;
}

.img-thumbnail{
width:100px !important;
height: auto;
}
.so-sp-cat .products-list .product-layout:hover .addToCart{
    bottom: -10px !important;
}