/*===============================================
    [SASS DIRECTORY ]
    
    [1] MEGA MENU VERTICAL 
    [2] MODULE HOME SLIDER  
    [3] MODULE EXTRA SLIDER
    [4] SHORT CODE BANNER 
    [5] SO LISTING TABS
    [6] SO DEALS
    [7] SO NEWSLETTER
==============================================*/


#content .so-page-builder .container,
.container-fluid .container{
    padding-left: 15px;
    padding-right: 15px;
}
.layout-14{
    .products-list .product-grid .product-item-container,
    .products-list .product-grid .product-item-container .right-block{
        background-color: #fff;
    }
}
/*====================== mod title ========================*/
.layout-14.common-home #content{
    .price,
    .price .price-new, .price span.price{
        font-size: 16px; color: #ff3c20;
    }

    .label-sale,  
    .label-product-sale{
        background-color: #d32f2f;
        #{$right}: 15px; top: 15px;
    }
    .label-new{
        background-color: $background;
        #{$left}: 15px; top: 15px;
    }

    .module{       
        .form-group{
            font-size: 14px; color: #898989; font-style: italic; text-align: center;
            line-height: 100%;
        }
        h3.modtitle{     
            font-size: 24px;
            color: #1c1c1c;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
           
            span{
                font-size: 24px;
                color: #1c1c1c;
                font-weight: 700;
                text-transform: uppercase;              
            }
        }
    }

}


/************************************************************************************************
    MODULE HOME SLIDER  
*************************************************************************************************/

.module.sohomepage-slider .so-homeslider img{
    width: auto;
}
.sohomepage-slider .so-homeslider .owl2-nav div::before,
.sohomepage-slider .so-homeslider .owl2-nav div:hover:before{
    background-color: transparent !important;
}

.module.sohomepage-slider{
    margin: 0;
    z-index: 0;
    .form-group{
        margin-bottom: 0;
    }
    .so-homeslider{
         border: none;
        img{
            width: auto;
        }
    }
    .owl2-controls{
        height: 0;
        .owl2-nav{
            .owl2-next,
            .owl2-prev{
                font-size: 0px;
                z-index: 99;
                width: 34px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                @include border-radius(0px);
                top: 50%;
                margin-top: -25px;
                text-indent: -999em;
                display: block;
                background-color: #c6c6c8;
                border: none;
                &:after{display: none;}
                &:before{
                    font-size: 30px;
                    color: #fff;
                    font-family: 'FontAwesome';
                    display: block;
                    text-indent: 0 !important;
                    opacity: 1;
                    width: 34px;
                    height: 50px;
                }
                &:hover{
                    background-color: #fff;
                    &:before{
                        color: $linkColor;
                    }
                }
            }
            .owl2-next{
                #{$right}: 10px;
                #{$left}: auto;
                &:before{
                    @include if-ltr{             
                        content: "\f105"; 
                    }  
                    @include if-rtl {
                        content: "\f104"; 
                    }  
                }
            }
            .owl2-prev{
                #{$left}: 10px;
                #{$right}: auto;
                &:before{
                  @include if-ltr{             
                    content: "\f104"; 
                  }  
                  @include if-rtl {
                    content: "\f105"; 
                  }  
                }
            }

        }
        .owl2-dots{
            bottom: 30px;
            text-align: center;
            position: relative;
            top: -35px;
            left: auto; right: auto;   
            z-index: 10;
            .owl2-dot {
              background: #828282 !important;
              margin: 0 5px;
              width: 10px;
              height: 10px;
              padding: 0;
              transition: all 0.3s ease 0s;
              border-radius: 50%;
              float: none;
              display: inline-block;
              border: 2px solid transparent;

              span {
                background: #828282;
                display: block;
                width: 100%;
                height: 100%;          
                border-radius: 50%;
                border: 2px solid transparent;
                margin: 0;
              }
              &:hover{
                 background: $background !important;   
                 span {
                 
                  background: $background !important; 
                }
              }
              &.active {
                width: 10px;
                height: 10px;
                background: $background !important;   
                border-color: $background;
                span {
                 
                  background: $background !important; 
                   border-color: $background;
                }
              }
            }

        } 
    } 

}


/************************************************************************************************
    SHORTCODE HTML 
*************************************************************************************************/

.home14-video .box-video{
    text-indent: -999em;
    background: url(#{$imgPath}id14-bg-video.jpg) no-repeat center center; 
    height: 600px;
    &:hover{
        cursor: pointer;
    }
}

.banners1 {
    margin: 16px -8px 65px -8px;
    display: inline-block;
    .item{
        width: 33.333%;
        padding: 0 8px;
        float: $left;
    }
}

/************************************************************************************************
    MODULE EXTRA SLIDER
*************************************************************************************************/

.so-extraslider{
    margin-top: 35px;
    .extraslider-inner{
        .owl2-stage-outer{
            overflow: unset;
        }
    }
    .owl2-controls{
        .owl2-nav{                
            @include owl2-nav-style10(40px,26px,#e5e5e5,$background); 
            > div{
                margin-top: -8px !important;
                 @include transform(scale(0));
                opacity: 0;
                @include transition(all 0.2s ease-in-out 0s);
            }
            .owl2-prev{
                #{$left}: -30px !important;
            }
            .owl2-next{
                #{$right}: -30px !important;
            }       
        }
    }
    &:hover{
        .owl2-controls .owl2-nav{
            > div{
                @include transform(scale(1));
                opacity: 1;
                @include transition(all 0.2s ease-in-out 0s);
            }
        }
    }
}



/************************************************************************************************
    MODULE LISTING TABS
*************************************************************************************************/
@media (min-width: 992px){
.layout-14.common-home #content .module.listingtab-layout14 h3.modtitle{
    float: $left;
    position: absolute;
    top: 75px;
    span{
        font-size: 22px; color: #1c1c1c; font-weight: 400;
        text-transform: uppercase;
    }
}
}
.listingtab-layout14{
    position: relative;

    .products-list .product-grid .product-item-container .right-block{
        padding: 0 0 10px 0;
        h4{
            margin-bottom: 5px;
        }
    }

    .so-listing-tabs{
        margin: 0 -15px;        
        overflow: unset;
        .ltabs-items-container{
            @media (min-width: 992px){
                padding-top: 75px;
            }
            .ltabs-items .ltabs-item .item-inner{
                margin: 0 15px 30px 15px;
            }
        } 


        .ltabs-items-inner{
            .owl2-controls{
                .owl2-nav{
                    @include owl2-nav-style1(32px,18px,#e9e9e9,#c3c3c3);       
                    position: static;
                    .owl2-prev{
                        #{$left}: 16px;
                        #{$right}: auto;
                    }
                    .owl2-next{
                        #{$right}: 16px;
                        #{$left}: auto;
                    }
                    > div{
                        @include transform(scale(0));
                        opacity: 0;
                        @include transition(all 0.2s ease-in-out 0s);
                        margin-top: -40px;
                    }
                }
            }
            &:hover{
                .owl2-controls .owl2-nav{
                    > div{
                        @include transform(scale(1));
                        opacity: 1;
                        @include transition(all 0.2s ease-in-out 0s);
                    }
                }
            }
        }
        @media (min-width: 992px){
            .ltabs-wrap{
                overflow: unset;
                .ltabs-tabs-container{
                   margin: 0px 15px;
                   width: 19%; float: $left;
                    .ltabs-tabs-wrap{
                        
                        ul.ltabs-tabs {
                            margin-top: 130px;
                            li.ltabs-tab {
                                border: medium none;
                                display: inline-block; width: 100%;
                                line-height: 100%;        
                                float: none;
                                margin: 0 0 10px 0;
                                
                                .ltabs-tab-label {
                                    font-size: 15px; color: #666666;
                                    position: relative; text-transform: capitalize;
                                    padding-#{$left}: 25px;
                                    &:before{
                                        position: absolute; top: -4px; #{$left}: 0;
                                        content: "\f096"; font-family: FontAwesome;
                                    }
                                    &:hover{
                                        color: $background;
                                     
                                    }
                                }
                                &:hover,
                                &.tab-sel{                   
                                    .ltabs-tab-label {
                                        color: $background;
                                       &:before{ content: "\f046"; }
                                    }
                                }
                            }
                        }
                        
                    }
                }
            } 

            .wap-listing-tabs{
                margin-top: 0px;
                width: 81%;
                margin-#{$left}: 19%;
                padding-#{$left}: 1%;
                border-#{$left}: 1px solid #d6d6d6;
            }
        }

        .ltabs-loadmore{
            margin: 10px 0 75px 0;
            .ltabs-loadmore-btn{
                background-color: #000;
                color: #fff; text-transform: uppercase;
                font-weight: 400; line-height: 100%;
                padding: 18px 40px;
                i{
                    font-weight: 400;
                }
                &:hover{
                    background-color: $background;
                }
            }
        }
       
    }
}






/************************************************************************************************
    SHORTCODE HTML SLIDER BRANDS
*************************************************************************************************/
.slider-brands{
    margin: 43px 0;
    .contentslider{
       padding: 0;
        position: relative;
        .owl2-stage-outer{
            direction: ltr;
        }
    }
    .item{
        text-align: center;
        opacity: 0.4;
        &:hover{
            opacity: 1;
        }
    }
    .owl2-controls .owl2-nav{
        @include owl2-nav-style1(40px,20px,#e9e9e9,#c3c3c3);       
        position: static;
        .owl2-prev{
            #{$left}: -20px;
            position: absolute;
            top: 50%;
            margin-top: -20px;
            background-color: #fff;

        }
        .owl2-next{
            #{$right}: -20px;
            position: absolute;
            top: 50%;
            margin-top: -20px;
            background-color: #fff;
        }
    }
    
}
