@charset "UTF-8";
/* [2] */
/* [8] */
/*===============================================
 [SASS DIRECTORY ]
 [1] Minxin Link
 [2] Minxin Button
 [3] Minxin Triangle
 [4] Minxin LABEL PRODUCT
 [5] Minxin Scrollbars
 [6] Minxin Dev Custom
 ==============================================*/
.no-margin {
  margin: 0 !important; }
/*Dev Custom */
/*====================================================*/
.lib-list-item-product2 {
  border: none; }
  .lib-list-item-product2 .image-dev .list-button-dev {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0); }
    .lib-list-item-product2 .image-dev .list-button-dev li {
      display: inline-block;
      float: left;
      height: 40px;
      width: 40px;
      background: #fff;
      position: relative;
      border-width: 0 1px 0 0;
      border-style: solid;
      border-color: #ddd;
      opacity: 0;
      transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(1) {
        transform: translateX(40px);
        -moz-transform: translateX(40px);
        -webkit-transform: translateX(40px);
        -ms-transform: translateX(40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(2) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(3) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(4) {
        transform: translateX(-40px);
        -moz-transform: translateX(-40px);
        -webkit-transform: translateX(-40px);
        -ms-transform: translateX(-40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li:first-child {
        border-left: 1px solid #ddd; }
      .lib-list-item-product2 .image-dev .list-button-dev li a, .lib-list-item-product2 .image-dev .list-button-dev li button {
        background: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        line-height: 40px;
        text-align: center;
        box-shadow: none;
        border: none;
        color: #555;
        width: 40px;
        padding: 0; }
      .lib-list-item-product2 .image-dev .list-button-dev li:hover {
        background: #42cdad; }
        .lib-list-item-product2 .image-dev .list-button-dev li:hover a, .lib-list-item-product2 .image-dev .list-button-dev li:hover button {
          color: #fff; }
  .lib-list-item-product2 .caption-dev {
    text-align: center;
    padding: 0 15px; }
    .lib-list-item-product2 .caption-dev .rating-dev {
      margin: 5px 0; }
    .lib-list-item-product2 .caption-dev .rating-dev .fa-stack-2x {
      font-size: 11px; }
    .lib-list-item-product2 .caption-dev .title-dev {
      color: #444;
      font-size: 13px; }
    .lib-list-item-product2 .caption-dev .price-dev .price.product-price {
      font-size: 16px; }
    .lib-list-item-product2 .caption-dev .price-dev .price-new {
      font-size: 16px; }
    .lib-list-item-product2 .caption-dev .price-dev .price-old {
      font-size: 12px; }
    .lib-list-item-product2 .caption-dev .add-cart-dev {
      background: #fff;
      border: 1px solid #ddd;
      font-size: 12px;
      text-transform: uppercase;
      color: #999;
      font-weight: bold;
      box-shadow: none;
      border-radius: 0;
      padding: 6px 20px;
      margin: 0 0 30px;
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out; }

.lib-list-item-product-over2 .image-dev .list-button-dev li {
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(1) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(2) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(3) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(4) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }
/*EFECT PRODUCT NUMBER*/
.lib-two-img {
  position: relative;
  display: block; }
  .lib-two-img .img-1 {
    opacity: 1;
    position: relative;
    transition: all 0.5s ease-in-out; }
  .lib-two-img .img-2 {
    position: absolute;
    z-index: 0;
    top: 0;
    opacity: 0;
    display: block;
    transition: all 0.5s ease-in-out;
    left: 50%;
    transform: translateX(-50%); }

.lib-two-img-over .img-1 {
  opacity: 0;
  transform-style: inherit;
  transition: all 0.5s ease-in-out; }
  .lib-two-img-over .img-2 {
    opacity: 1;
    transform-style: inherit;
    transition: all 0.5s ease-in-out; }
/*EFFECT SLIDERHOME*/
@keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-webkit-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-moz-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }
/* ================================================================================ */
/*.footer-container{
 margin-top: 40px;
 }*/
.typefooter-9 {
  margin-top: 0px;
  /*== Block policy ==*/
  /* FOOTER BOTTOM */ }
  .typefooter-9 .footer-top {
    padding: 26px 0; }
  .typefooter-9 .footer-middle {
    padding-top: 75px; }
  .typefooter-9 .module .modtitle {
    color: #222;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 10px !important;
    font-weight: 400;
    text-transform: capitalize;
    position: relative;
    padding-bottom: 0px; }
  .typefooter-9 .box-footer {
    margin-top: 3px; }
  .typefooter-9 .box-footer .modcontent ul li a {
    border: 0 none;
    font-size: 12px;
    padding: 0;
    padding-left: 0px;
    font-weight: 400;
    line-height: 35px;
    position: relative;
    display: inline-block;
    transition: all 0.2s ease-in-out 0s;
    color: #888; }
    .typefooter-9 .box-footer .modcontent ul li a:before {
      content: "\f111";
      font-family: 'FontAwesome';
      font-size: 0;
      position: absolute;
      top: 2px;
      left: 0px;
      transition: all 0.2s ease-in-out 0s; }
    .typefooter-9 .box-footer .modcontent ul li a:hover {
      padding-left: 10px; }
      .typefooter-9 .box-footer .modcontent ul li a:hover:before {
        font-size: 4px; }
  .typefooter-9 .infos-footer ul.modcontent {
    margin-top: 20px; }
  .typefooter-9 .infos-footer ul.modcontent li {
    line-height: 32px;
    list-style: outside none none;
    padding: 0;
    margin-bottom: 5px; }
  .typefooter-9 .infos-footer ul.modcontent li i {
    font-size: 14px;
    padding-right: 10px; }
  .typefooter-9 .infos-footer .socials {
    float: left;
    margin-top: 25px; }
  .typefooter-9 .infos-footer .socials li {
    position: relative;
    float: left;
    margin-right: 25px; }
  .typefooter-9 .infos-footer .socials li a {
    color: #888;
    font-size: 18px; }
    .typefooter-9 .infos-footer .socials li a span {
      display: none; }
    .typefooter-9 .so-instagram-gallery .instagram-items-inner .instagram-item {
      float: left;
      margin-bottom: 4px;
      padding: 0 2px;
      position: relative; }
  .typefooter-9 .so-instagram-gallery .instagram-items-inner .instagram-item .img_users a {
    border: none;
    height: 80px;
    /*img{
     border-radius: 5px;
     }*/ }
  .typefooter-9 .so-instagram-gallery .instagram-items-inner .instagram-item .img_users a:hover img {
    opacity: 0.8; }
  .typefooter-9 .newsletter-footer9 {
    margin-top: 75px;
    margin-bottom: 30px; }
  .typefooter-9 .newsletter-footer9 .newsletter {
    padding: 25px 0;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
    display: inline-block;
    width: 100%; }
  .typefooter-9 .newsletter-footer9 .newsletter .title-block {
    color: #fff;
    float: left;
    width: 50%;
    margin-top: 17px; }
  .typefooter-9 .newsletter-footer9 .newsletter .title-block .page-heading {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    text-transform: capitalize; }
  .typefooter-9 .newsletter-footer9 .newsletter .title-block .promotext {
    font-size: 14px;
    color: #444; }
  .typefooter-9 .newsletter-footer9 .newsletter .block_content {
    float: left;
    width: 50%; }
  .typefooter-9 .newsletter-footer9 .newsletter .block_content form.signup {
    display: block;
    margin-top: 11px; }
    @media (min-width: 992px) {
        .typefooter-9 .newsletter-footer9 .newsletter .block_content form.signup {
          padding-left: 45px; } }
    .typefooter-9 .newsletter-footer9 .newsletter .block_content form.signup .form-group {
      position: relative; }
    .typefooter-9 .newsletter-footer9 .newsletter .block_content form.signup .form-group .input-box {
      vertical-align: top;
      padding-right: 105px;
      border-radius: 4px; }
    .typefooter-9 .newsletter-footer9 .newsletter .block_content form.signup .form-group .subcribe {
      position: absolute;
      top: 0;
      right: 0; }
    .typefooter-9 .newsletter-footer9 .newsletter .block_content form.signup .form-group #txtemail {
      height: 44px;
      line-height: 44px;
      width: 100%;
      box-shadow: none;
      padding: 0 0 0 20px;
      border: none;
      background-color: #fafafa;
      font-size: 14px; }
      .typefooter-9 .newsletter-footer9 .newsletter .block_content form.signup .form-group #txtemail::-moz-placeholder {
        color: #888;
        opacity: 1; }
      .typefooter-9 .newsletter-footer9 .newsletter .block_content form.signup .form-group #txtemail:-ms-input-placeholder {
        color: #888; }
      .typefooter-9 .newsletter-footer9 .newsletter .block_content form.signup .form-group #txtemail::-webkit-input-placeholder {
        color: #888; }
      .typefooter-9 .newsletter-footer9 .newsletter .block_content form.signup .form-group #txtemail:focus {
        z-index: 0; }
    .typefooter-9 .newsletter-footer9 .newsletter .block_content form.signup .subcribe button {
      border: 0 none;
      color: #fff;
      font-weight: 400;
      font-size: 12px;
      height: 44px;
      line-height: 44px;
      padding: 0 17px;
      text-transform: uppercase;
      border-radius: 3px; }
    .typefooter-9 .newsletter-footer9 .newsletter .block_content form.signup .subcribe button:hover {
      color: #fff; }
  .typefooter-9 .block-policy9 {
    margin: 0 auto; }
  .typefooter-9 .block-policy9 ul li {
    float: left;
    padding: 0 15px;
    width: 33.333%; }
  .typefooter-9 .block-policy9 ul li:last-child:before {
    display: none; }
  .typefooter-9 .block-policy9 ul li .item-inner {
    display: inline-block; }
    .typefooter-9 .block-policy9 ul li .item-inner .content {
      position: relative;
      padding-left: 90px; }
    .typefooter-9 .block-policy9 ul li .item-inner .content:before {
      background: url(../../images/icon/id9-promotion.png) no-repeat;
      width: 50px;
      height: 50px;
      top: 0;
      left: 0px;
      position: absolute;
      content: ""; }
    .typefooter-9 .block-policy9 ul li .item-inner .content b {
      color: #fff;
      font-weight: 400;
      text-transform: capitalize;
      font-size: 14px; }
    .typefooter-9 .block-policy9 ul li .item-inner .content span {
      line-height: 100%;
      margin: 0;
      text-transform: capitalize;
      font-weight: 300;
      display: inline-block;
      width: 100%;
      color: #fff; }
  .typefooter-9 .block-policy9 ul li.item-1 .item-inner .content:before {
    background-position: 0 3px; }
  .typefooter-9 .block-policy9 ul li.item-2 .item-inner .content:before {
    background-position: 0 -148px; }
  .typefooter-9 .block-policy9 ul li.item-3 .item-inner .content:before {
    background-position: 0 -305px; }
  .typefooter-9 .footer-bottom {
    background-color: #fff;
    padding: 20px 0;
    text-align: center; }
  .typefooter-9 .footer-bottom .copyright {
    color: #666;
    margin-top: 20px; }
