@charset "UTF-8";
/* [2] */
/* [8] */
/*===============================================
 [SASS DIRECTORY ]
 [1] Minxin Link
 [2] Minxin Button
 [3] Minxin Triangle
 [4] Minxin LABEL PRODUCT
 [5] Minxin Scrollbars
 [6] Minxin Dev Custom
 ==============================================*/
.no-margin {
  margin: 0 !important; }
/*Dev Custom */
/*====================================================*/
.lib-list-item-product2 {
  border: none; }
  .lib-list-item-product2 .image-dev .list-button-dev {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0); }
    .lib-list-item-product2 .image-dev .list-button-dev li {
      display: inline-block;
      float: left;
      height: 40px;
      width: 40px;
      background: #fff;
      position: relative;
      border-width: 0 1px 0 0;
      border-style: solid;
      border-color: #ddd;
      opacity: 0;
      transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(1) {
        transform: translateX(40px);
        -moz-transform: translateX(40px);
        -webkit-transform: translateX(40px);
        -ms-transform: translateX(40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(2) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(3) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(4) {
        transform: translateX(-40px);
        -moz-transform: translateX(-40px);
        -webkit-transform: translateX(-40px);
        -ms-transform: translateX(-40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li:first-child {
        border-left: 1px solid #ddd; }
      .lib-list-item-product2 .image-dev .list-button-dev li a, .lib-list-item-product2 .image-dev .list-button-dev li button {
        background: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        line-height: 40px;
        text-align: center;
        box-shadow: none;
        border: none;
        color: #555;
        width: 40px;
        padding: 0; }
      .lib-list-item-product2 .image-dev .list-button-dev li:hover {
        background: #ff9500; }
        .lib-list-item-product2 .image-dev .list-button-dev li:hover a, .lib-list-item-product2 .image-dev .list-button-dev li:hover button {
          color: #fff; }
  .lib-list-item-product2 .caption-dev {
    text-align: center;
    padding: 0 15px; }
    .lib-list-item-product2 .caption-dev .rating-dev {
      margin: 5px 0; }
    .lib-list-item-product2 .caption-dev .rating-dev .fa-stack-2x {
      font-size: 11px; }
    .lib-list-item-product2 .caption-dev .title-dev {
      color: #444;
      font-size: 13px; }
    .lib-list-item-product2 .caption-dev .price-dev .price.product-price {
      font-size: 16px; }
    .lib-list-item-product2 .caption-dev .price-dev .price-new {
      font-size: 16px; }
    .lib-list-item-product2 .caption-dev .price-dev .price-old {
      font-size: 12px; }
    .lib-list-item-product2 .caption-dev .add-cart-dev {
      background: #fff;
      border: 1px solid #ddd;
      font-size: 12px;
      text-transform: uppercase;
      color: #999;
      font-weight: bold;
      box-shadow: none;
      border-radius: 0;
      padding: 6px 20px;
      margin: 0 0 30px;
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out; }

.lib-list-item-product-over2 .image-dev .list-button-dev li {
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(1) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(2) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(3) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(4) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }
/*EFECT PRODUCT NUMBER*/
.lib-two-img {
  position: relative;
  display: block; }
  .lib-two-img .img-1 {
    opacity: 1;
    position: relative;
    transition: all 0.5s ease-in-out; }
  .lib-two-img .img-2 {
    position: absolute;
    z-index: 0;
    top: 0;
    opacity: 0;
    display: block;
    transition: all 0.5s ease-in-out;
    left: 50%;
    transform: translateX(-50%); }

.lib-two-img-over .img-1 {
  opacity: 0;
  transform-style: inherit;
  transition: all 0.5s ease-in-out; }
  .lib-two-img-over .img-2 {
    opacity: 1;
    transform-style: inherit;
    transition: all 0.5s ease-in-out; }
/*EFFECT SLIDERHOME*/
@keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-webkit-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-moz-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }
/* ================================================================================ */
.layout-16 .back-to-top {
  position: static;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: #0b79bf;
  line-height: 46px;
  text-transform: uppercase;
  border-radius: 0; }
  .layout-16 .back-to-top span:after, .layout-16 .back-to-top span:before {
    display: inline-block;
    background: url(../../images/icon/id16-icon-image.png) no-repeat -372px -27px;
    margin: 0 20px;
    content: '';
    width: 11px;
    height: 15px;
    position: relative;
    top: 1px; }
  .layout-16 .back-to-top:hover {
    opacity: 0.8; }

.typefooter-16 {
  margin-top: 0px !important;
  padding-top: 60px;
  background-color: #2f4e6d;
  color: #bec5cd;
  /* GENERAL */
  /* FOOTER BOTTOM */ }
  .typefooter-16 .container {
    padding: 0 15px; }
  .typefooter-16 .module .modtitle {
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
    font-weight: 700;
    text-transform: uppercase; }
  .typefooter-16 .footer-center {
    padding-top: 45px; }
  .typefooter-16 .box-footer .modcontent ul li a {
    border: 0 none;
    font-size: 14px;
    padding: 0;
    font-weight: 400;
    position: relative;
    display: inline-block;
    color: #bec5cd;
    line-height: 32px; }
  .typefooter-16 .newsletter-footer11 .newsletter .title-block .page-heading {
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
    font-weight: 700;
    text-transform: uppercase; }
  .typefooter-16 .newsletter-footer11 .newsletter .title-block .promotext {
    font-size: 14px; }
  .typefooter-16 .newsletter-footer11 .newsletter .block_content {
    margin-top: 15px; }
  .typefooter-16 .newsletter-footer11 .newsletter .block_content form.signup {
    display: block;
    margin-bottom: 25px; }
    .typefooter-16 .newsletter-footer11 .newsletter .block_content form.signup .form-group {
      position: relative; }
      .typefooter-16 .newsletter-footer11 .newsletter .block_content form.signup .form-group .input-box {
        background-color: rgba(255, 255, 255, 0.2);
        vertical-align: top;
        border-radius: 0; }
      .typefooter-16 .newsletter-footer11 .newsletter .block_content form.signup .form-group .subcribe {
        position: absolute;
        top: 0;
        right: 0; }
      .typefooter-16 .newsletter-footer11 .newsletter .block_content form.signup .form-group #txtemail {
        height: 40px;
        line-height: 40px;
        width: 100%;
        box-shadow: none;
        padding: 0 0 0 20px;
        border: none;
        border-radius: 0;
        background-color: rgba(255, 255, 255, 0.2); }
        .typefooter-16 .newsletter-footer11 .newsletter .block_content form.signup .form-group #txtemail::-moz-placeholder {
          color: #fff;
          opacity: 1; }
        .typefooter-16 .newsletter-footer11 .newsletter .block_content form.signup .form-group #txtemail:-ms-input-placeholder {
          color: #fff; }
        .typefooter-16 .newsletter-footer11 .newsletter .block_content form.signup .form-group #txtemail::-webkit-input-placeholder {
          color: #fff; }
        .typefooter-16 .newsletter-footer11 .newsletter .block_content form.signup .form-group #txtemail:focus {
          z-index: 0; }
    .typefooter-16 .newsletter-footer11 .newsletter .block_content form.signup .subcribe button {
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      height: 40px;
      line-height: 40px;
      padding: 0 30px; }
  .typefooter-16 .content-apps a {
    display: inline-block;
    margin: 0 20px 5px 0; }
  @media (min-width: 1200px) and (max-width: 1649px) {
    .typefooter-16 .content-apps {
      margin: 0 -5px; }
      .typefooter-16 .content-apps a {
        float: left;
        padding: 0 5px;
        width: 50%;
        margin: 0; } }
  .typefooter-16 .seo-struct {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 25px; }
  .typefooter-16 .seo-struct ul li {
    display: inline-block; }
  .typefooter-16 .seo-struct ul li a {
    color: #bec5cd;
    font-size: 13px; }
  .typefooter-16 .seo-struct ul li:not(:last-child)::after {
    content: '/';
    margin: 0 10px; }
  .typefooter-16 .footer-bottom {
    background-color: #fff;
    padding: 20px 0; }
  .typefooter-16 .footer-bottom .copyright {
    text-align: right;
    color: #999; }
