/*******************************************
 ***          SO Framework: Sass          ***
 *******************************************/
.myprofile {
  background: #f5f5f5;
  padding: 0;
  margin: 0 0 30px;
  clear: both;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 3px; }
  .myprofile .thumbnail {
    display: inline-block;
    margin: 30px auto 0;
    border-radius: 50%;
    width: 100px;
    height: 100px; }
    .myprofile .thumbnail img {
      border-radius: 50%; }
  .myprofile .myprofile--detail {
    font-size: 13px; }
    .myprofile .myprofile--detail h3 {
      font-size: 16px;
      margin: 10px 0 5px; }
    .myprofile .myprofile--detail .list-inline {
      display: table;
      margin: 0 -1px -1px;
      width: calc(100% + 2px);
      border-radius: 0 0 3px 3px;
      overflow: hidden; }
      .myprofile .myprofile--detail .list-inline > li {
        padding: 0;
        float: left;
        width: 50%;
        overflow: hidden;
        text-overflow: ellipsis; }
    .myprofile .myprofile--detail .btn {
      padding: 8px 15px;
      display: block; }

.profile--panel .panel-heading {
  padding: 7px 15px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase; }
  .profile--panel .panel-body {
    padding: 0; }
  .profile--panel .list-group-item {
    margin: 0;
    border: none;
    border-bottom: 1px solid #e2e2e2;
    background: none;
    border-radius: 0;
    font-size: 13px;
    padding: 6px 15px; }
    .profile--panel .list-group-item .fa {
      min-width: 20px; }
    .profile--panel .list-group-item:hover {
      background: #eee; }

.dashboard--main {
  background: #f5f5f5;
  padding: 20px 20px 20px; }

.panel--order {
  background: transparent;
  box-shadow: none;
  border: none; }
  .panel--order .panel-heading {
    border-radius: 0;
    font-size: 18px;
    border-bottom: 0;
    font-weight: 600;
    padding: 0;
    margin-bottom: 10px; }
  .panel--order .panel-body {
    padding: 0; }
    .panel--order .panel-body .table-bordered {
      background: white; }
  .panel--order .table-responsive .table thead > * {
    background: none; }
  .panel--order .table-bordered > thead > tr > td, .panel--order .table-bordered > thead > tr > th {
    background: none;
    font-weight: 400;
    border-bottom: 1px solid #ddd; }

.dashboard--top h2 {
  font-size: 20px;
  color: #333; }
  .dashboard--top .boxicon--default {
    background: #fff;
    margin: 0 0 30px;
    min-height: 140px;
    padding: 15px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1px 5px 0 rgba(50, 50, 50, 0.25), 0 0px 0px 1px rgba(50, 50, 50, 0.03);
    display: block;
    transition: 0.15s all ease;
    transform: translateY(0); }
    .dashboard--top .boxicon--default .icon_cart {
      border: 1px solid #d2d2d2;
      background: #eee;
      font-size: 26px;
      padding: 7px 15px;
      border-radius: 50%;
      height: 60px;
      width: 60px;
      display: inline-block;
      line-height: 43px;
      transition: 0.15s all ease; }
	.dashboard--top .boxicon--default .icon_cart .fa{font-size: 26px;}
    .dashboard--top .boxicon--default img {
      width: 60px;
      margin: 0 auto; }
    .dashboard--top .boxicon--default h4 {
      font-size: 14px;
      margin: 15px 0 5px;
      font-weight: 400; }
    .dashboard--top .boxicon--default:hover {
      transform: translateY(2px);
      box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.15) inset, 0px 0px 0px 1px rgba(50, 50, 50, 0.08), -1px -1px 0px 0px rgba(50, 50, 50, 0.05); }
      .dashboard--top .boxicon--default:hover .icon_cart {
        border: 1px solid #337ab7;
        background: #337ab7;
        color: white; }
  .dashboard--top .boxicon--round {
    background: #fff;
    margin: 0 0 30px;
    min-height: 125px;
    text-align: center;
    border-radius: 8px;
    display: block; }
    .dashboard--top .boxicon--round .icon_cart {
      background: #5ba2e4;
      color: #fff;
      font-size: 26px;
      padding: 7px 15px;
      border-radius: 8px;
      margin: -30px auto 0;
      display: block;
      border: none; }
    .dashboard--top .boxicon--round h5 {
      margin: 0;
      font-size: 16px;
      text-transform: capitalize;
      padding: 10px 0 0;
      font-weight: normal; }
      .dashboard--top .boxicon--round h5 b {
        font-size: 22px;
        font-weight: bold;
        line-height: 30px; }
@media (min-width: 768px) and (max-width: 991px) {
	.myprofile .myprofile--detail .list-inline > li{width: calc(100% - 20px ); margin: 5px 10px;}
}

@media (max-width: 768px) {
	.dashboard--top .boxicon--default{min-height:150px; padding: 5px;}
}