.so-page-builder .container-fluid{padding:0; overflow:hidden;}.so-page-builder .container{padding:0; overflow:hidden;}.so-page-builder section{overflow:hidden;}
.row_2r8x{background-color:rgba(252,252,252,1); overflow:hidden;}

.row_t0cx{background-image:url('../../../../../image/catalog/banners/id18/bg-brand.jpg');background-repeat:no-repeat; background-position:center center; background-attachment:scroll ; overflow:hidden;}

.row_2vf1{background-color:rgba(249,249,249,1); overflow:hidden;}

